body {
  padding: 50px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #00B7FF;
}

p {
  font-size: 20px;
  color: white;
}

button {
  font-size: 15px;
  border-radius: 20px;
}

h1 {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  color: #313131;
  text-align: left;
  -webkit-animation:colorchange 20s infinite alternate;
}

.welcome-block {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 25px;
  padding: 20px 25px 40px 50px !important;
  border: 1px solid #929292;
}

.welcome-block p {
  color: black;
}

.welcome-block h1 {
  -webkit-animation:colorchange-dash 20s infinite alternate;
}

.dash-wrapper {
  background: url('https://images.unsplash.com/photo-1551649123-4c2d37b7fed2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80') no-repeat;
  background-attachment: fixed;
}

.listings-block {
  background-color: rgba(255, 255, 255, 0.8) !important;
  max-height: 400px;
  overflow: scroll;
}

.listings-block p {
  color: black !important;
}

#hidden-block {
  background-color: rgba(255, 255, 255, 0.0);
}

.landing {
  background: url('https://images.unsplash.com/photo-1463344221404-45de21b1f4ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1902&q=80') no-repeat;
  background-attachment: fixed;
}

:required {
  padding: 10px;
  font-weight: lighter;
  border: none;
  border-radius: 20px;
  margin: 10px 20px 30px 0%;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 10px;
}

.grid-item {
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #929796;
  background-color: #fff;
  border-radius: 5px;
}
.grid-item:nth-child(odd) {
  background-color: #fff;
}

.grid-item:nth-child(even) {
  background-color: #fff;
}

.span-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.span-3 {
  grid-column-end: span 3;
  grid-row-end: span 2;
}

.span-4 {
  grid-column-end: span 4;
  grid-row-end: span 2;
}

@-webkit-keyframes colorchange {
  0% {
    color: black;
  }
  10% {
    color: white;
  }
  20% {
    color: black;
  }
  30% {
    color: white;
  }
  40% {
   color: black;
  }
  50% {
    color: white;
  }
  60% {
    color: black;
  }
  70% {
    color: white;
  }
  80% {
    color: black;
  }
  90% {
    color: white;
  }
  100% {
    color: black;
  }
}

@-webkit-keyframes colorchange-dash {
  0% {
    color: black;
  }
  10% {
    color: #929292;
  }
  20% {
    color: black;
  }
  30% {
    color: #929292;
  }
  40% {
   color: black;
  }
  50% {
    color: #929292;
  }
  60% {
    color: black;
  }
  70% {
    color: #929292;
  }
  80% {
    color: black;
  }
  90% {
    color: #929292;
  }
  100% {
    color: black;
  }
}
