extends layout

block content
  body(class="dash-wrapper")
  div(class="grid-layout")
    div(class="welcome-block grid-item span-3 grid-item-1")
      h1 MakersBnB
      p Welcome Back #{name}
      h2 Dashboard

      a#addListing(href='http://localhost:3000/add') Add Listing

    div(class="middle grid-item grid-item-2" id="hidden-block")

    div(class="listings-block grid-item span-4 grid-item-3", id="listings")
      for property in properties
        p #{property.name}: #{property.description} /#{property.price}
        if userid == property.user_id
          form(method='POST', action=`/`+property.id+`/edit`, id='editproperty', name='editproperty')
          <input type="submit" id="edit" value="edit"/>
        else
          form(method='POST', action=`/`+property.id+`/request`, id='requestproperty', name='requestproperty')
          <input type="submit" id="edit" value="request"/>

  <div class="grid-layout">
      <div class="grid-item grid-item-1">item 1</div>
      <div class="grid-item grid-item-2">item 2</div>
      <div class="grid-item span-3 grid-item-3">item 3</div>
      <div class="grid-item grid-item-4">item 4</div>
      <div class="grid-item span-2 grid-item-5">item 5</div>
      <div class="grid-item grid-item-6">item 6</div>
      <div class="grid-item grid-item-7">item 7</div>
      <div class="grid-item grid-item-8">item 8</div>
      
      
    
