extends layout

block content
  body(class="landing") 
  h1 MakersBnB
  p Welcome to MakersBnB

  form(method='POST' action='/')
    input#signUpName(type='text', name='signUpName', required placeholder='name')
    input#signUpEmail(type='text', name='signUpEmail', required placeholder='email')
    input#signUpPassword(type='text',name='signUpPassword' required placeholder='password')
    button#signUp(type='submit') Sign Up

  form(method='POST' action='/users')
    input#logInEmail(type='text', required placeholder='email' name='logInEmail')
    input#logInPassword(type='text', required placeholder='password' name='logInPassword')
    button#logIn(type='submit') Log In
